@import url(https://fonts.googleapis.com/css?family=Pacifico&effect=3d-float);
.header {
    font-family: 'Pacifico', cursive;
}

body {
    position: relative;
}

#google-earth {
    padding: 30px 0px 30px 0px;
}

.jumbotron {
    margin: 0;
}

#about {
    background-color: #0EA85B;
}

.row {
    padding: 15px 25px 35px 25px;
}

i {
    padding: 5px 5px 0px 5px;
}

#past-works {
    background-color: #071B42;
    color: white;
}

.modal {
    color: #222222;
}

button {
    background-color: transparent;
    border-color: transparent;
}

#tugas-besar {
    background-color: #222222;
    color: #fff;
}

#copyright {
    background-color: #222222;
    color: #fff;
    width: 100%;
    padding: 20px 0 20px 0;
}

.contact-box {
    margin: 50px auto;
    width: 50%;
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Effect
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

figure {
    margin: 0;
    position: relative;
}

figure img {
    display: block;
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: auto;
}

figure figcaption {
    display: block;
    position: absolute;
    z-index: 5;
}

figure h3 {
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
}

figure span {
    color: #b2cce1;
    display: block;
    line-height: 1.2;
}

#effect figure {
    overflow: hidden
}

#effect figure figcaption {
    background-color: #222222;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 20px;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#effect figure img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.no-touch #effect figure:hover img,
#effect figure.hover img {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}

.no-touch #effect figure:hover figcaption,
#effect figure.hover figcaption {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}